<div
    class="flex w-full items-center justify-between text-xs text-gray-600 dark:text-gray-400"
    [ngClass]="{
        'text-left': message.sender_data,
        'text-right': !message.sender_data,
    }"
>
    <p>{{ message.created_at | date: "short" }}</p>

    <div class="ml-2 flex flex-row items-center justify-center">
        @if (sent && message.statuses && message.statuses.length) {
            <div class="flex items-center justify-center">
                @if (getStatusIcon(message); as icon) {
                    @if (icon.type === "inline-svg") {
                        <div
                            [ngClass]="icon.colorClass"
                            [style.width]="icon.width"
                            [innerHTML]="icon.safeSvg"
                            [attr.aria-label]="icon.alt"
                            class="flex items-center justify-center"
                        ></div>
                    }
                    @if (icon.type === "font") {
                        <i
                            [class]="icon.iconClass + ' cursor-pointer'"
                            aria-hidden="true"
                            matTooltip="Click to view error details"
                            i18n-matTooltip
                            (click)="toggleErrorModal()"
                        ></i>
                    }
                }
            </div>
        }

        <!-- Clock icon when not sent -->
        @if (!sent) {
            <mat-icon
                class="material-icons-outlined !flex !h-4 !w-4 !items-center !justify-center text-sm"
                >schedule</mat-icon
            >
        }
    </div>
</div>

@if (showErrorModal) {
    <div
        class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 transition-opacity duration-300 ease-in-out"
        id="error-modal"
        (click)="closeErrorModal()"
        role="button"
        tabindex="0"
        aria-label="Close error modal"
        (keyup.enter)="closeErrorModal()"
        (keyup.space)="closeErrorModal()"
    >
        <div
            class="relative w-full max-w-lg rounded-xl bg-white p-6 shadow-xl transition-all dark:bg-gray-900"
            role="dialog"
            aria-modal="true"
            (click)="$event.stopPropagation()"
            tabindex="0"
            (keyup.enter)="$event.stopPropagation()"
            (keyup.space)="$event.stopPropagation()"
        >
            <!-- Header -->
            <div class="mb-5 flex items-center justify-between border-b pb-3">
                <h2 class="text-xl font-bold leading-tight tracking-wide">
                    <span i18n>Message delivery failed</span>
                </h2>
                <button
                    class="ml-4 inline-flex h-8 w-8 items-center justify-center rounded-full text-gray-500 transition hover:bg-gray-100 hover:text-black dark:hover:bg-gray-800 dark:hover:text-white"
                    (click)="closeErrorModal()"
                    aria-label="Close"
                    i18n-aria-label
                >
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- Modal Content -->
            @if (error) {
                <div class="space-y-2 text-sm leading-relaxed">
                    <a
                        href="https://developers.facebook.com/docs/whatsapp/cloud-api/support/error-codes/#error-codes"
                        target="_blank"
                    >
                        <strong i18n>Code:</strong>&nbsp;
                        <span class="cursor-pointer text-red-600 underline dark:text-red-400">{{
                            error.code
                        }}</span>
                    </a>
                    <p>
                        <strong i18n>Message:</strong>
                        {{ error.message }}
                    </p>
                    @if (error.error_user_title) {
                        <p>
                            <strong i18n>Error title:</strong>
                            {{ error.error_user_title }}
                        </p>
                    }
                    @if (error.error_user_msg) {
                        <p>
                            <strong i18n>Error user message:</strong>
                            {{ error.error_user_msg }}
                        </p>
                    }
                    @if (error.error_data?.details) {
                        <p>
                            <strong i18n>Details:</strong>
                            {{ error.error_data?.details }}
                        </p>
                    }
                </div>
            }
        </div>
    </div>
}
